@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


.dropzone .dz-remove {
    background-color: rgb(var(--danger-rgb)) !important;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
}


.scrollable-grey {
    max-height: 300px; /* adjust as needed */
    overflow-y: auto;
    padding-right: 10px; /* avoid content hiding behind scrollbar */
}

/* Webkit browsers (Chrome, Edge, Safari) */
.scrollable-grey::-webkit-scrollbar {
    width: 8px;
}

.scrollable-grey::-webkit-scrollbar-track {
    background: #f0f0f0; /* light grey track */
    border-radius: 4px;
}

.scrollable-grey::-webkit-scrollbar-thumb {
    background-color: #c0c0c0; /* grey thumb */
    border-radius: 4px;
    border: 2px solid #f0f0f0; /* optional: adds padding around thumb */
}

/* Firefox */
.scrollable-grey {
    scrollbar-width: thin;
    scrollbar-color: #c0c0c0 #f0f0f0;
}
